@font-face {
  font-family: 'RiotFont';
  src: url('./assets/font/familiesImport/FontFont_FF.Mark.Pro.Black.otf')format('opentype');
}

body {
  font-family: 'RiotFont', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'RiotFont', Arial, sans-serif;
}

.image-with-opacity {
  background-image: url('assets/HeadbangerBackground.jpg');
  background-size: contain;
  height: 100vh;
}
